In [1]:
import pandas as pd
import numpy as np 
from matplotlib.pyplot import figure
import dash
from dash import dcc, html, Input, Output, State
from numpy import intp
import plotly.express as px
import pandas as pd

In [2]:
# load sample data
data = pd.read_csv("sampledata.csv")

In [8]:
tickerNames = data.columns[1:]
dfMelt = pd.melt(data, id_vars='Date', value_vars=tickerNames)
dfMelt.columns = ["Date","Name","Price"]
dfMelt.head()

         Date  Name      Price
0  2019-01-02  AAPL  37.943245
1  2019-01-03  AAPL  34.163826
2  2019-01-04  AAPL  35.622253
3  2019-01-07  AAPL  35.542969
4  2019-01-08  AAPL  36.220539

In [9]:
dfMelt.Date>"2019-06-01"

0      False
1      False
2      False
3      False
4      False
       ...
751     True
752     True
753     True
754     True
755     True
Name: Date, Length: 756, dtype: bool